{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Add post</title>
    <link rel="stylesheet" href={% static 'css/bootstrap.css' %}>
    <style>
        body{
            display:flex;
        }
        .container{
            margin-top: 100px;
        }
        form{
            margin:auto;
        }
        input {
            height:50px;
        }
        input:focus{
            border:none;
        }
    </style>
</head>
<body>
    <div class="container">
    	<div >
        <form method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            location:{{pform.location}}<br><br>
            Post:{{pform.image}}
            <input type="submit">
        </form>
    </div>
    </div>


</body>
</html>