{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KSN</title>
    <link rel="stylesheet" href={% static 'css/bootstrap.css' %}>
    <link rel="stylesheet" href={% static 'css/style.css' %}>
</head>
<body>
    <div class="col-md-8">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <header>
        <nav id="header-nav" class="nav navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a href="#" class=" pull-left visible-md visible-lg visible-md">
                        <div id="logo-img" alt="profilepic">
                            <img src="{{user.profile.image.url}}" class="img-responsive" />
                        </div>
                    </a>
                    <div class="navbar-brand">
                        <a href="#">
                            <h1>{{user.first_name}}</h1>
                        </a>
                    </div>  <!--navbar-brand-->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsable-nav" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>  <!--navbar-header-->
                <div id="collapsable-nav" class="nav navbar-nav navbar-right">
                    <ul id="nav-list" class="nav navbar-nav navbar-right">
                        <li>
                            <a href={% url 'logout' %}>
                                <span class="glyphicon glyphicon-info-sign"></span><br class="hidden-xs">logout</br>
                            </a>
                        </li>
                        <!-- <li>
                            <a href="tel:+917032219565">
                                <span class="glyphicon glyphicon-earphone"></span><br class="hidden-xs">Contact-us</br>
                            </a>
                        </li> -->
                    </ul>
                </div> <!--collapsable-nav-->
            </div> <!--container-->
        </nav>
    </header>
    <div id="maincontent" class="container">
        <div id="mainprofile" class="col-lg-3 col-md-3">
            <div id="mainnumber">
                Phone.no:<br>
                {{user.profile.phno}}
            </div>
            <hr>
            <div id="mainstate">
                State:<br>
                {{user.profile.state}}
            </div>
            <hr>
            <div id="mainmail">
                mail:<br>
                {{user.email}}
            </div>
            <hr>
            <div id="mainuniversity">
                University:<br>
                {{user.profile.university}}
            </div>
            <hr>
            <div id="mainsem">
                Current sem:{{user.profile.sem}}
            </div>
            <hr>
        </div>
        <div id="posts" class="col-lg-7 col-md-7">
            <input type="text" placeholder="Enter the Username" />
            <div id="posttile">
                <img src="#"  class="img-responsive ">
                <div>Uploaded by Kondeti</div>
            </div>
        </div>
        <div id="friends" class="col-lg-2 col-md-2">
            <div>Pavan</div>
        </div>
        <!--homepage-begins-->
        <script src={% static 'js/jquery.js' %}></script>
        <script src={% static 'js/bootstrap.min.js' %}></script>
</body>
</html>
