{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project</title>
    <link rel="stylesheet" href={% static 'css/bootstrap.css' %}>
    <link rel="stylesheet" href={% static 'css/style.css' %}>
</head>
<body>
    {% if messages %}
    <div style="margin:10px;">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
     {% endif %}
    
    <header>
        <nav id="header-nav" class="nav navbar-default">
            <div></div>
            <div class="container">
                <div class="navbar-header">
                    <div id="logo-img" class=" pull-left">
                        <img src="{{user.profile.image.url}}" class="img-responsive" alt="profilepic" style="min-height:100%;" />
                    </div>
                    <div class="navbar-brand pull-left">
                        <h1>{{user.first_name}}</h1>
                    </div>  <!--navbar-brand-->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsable-nav" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>  <!--navbar-header-->

                <div id="collapsable-nav" class="nav navbar-nav navbar-right">
                    <ul id="nav-list" class="nav navbar-nav navbar-right">
                        <li>
                            <a href={% url 'update' %}>update</a>
                        </li>
                        <li>
                            <a href={% url 'logout' %}>logout</a>
                        </li>

                        <!-- <li>
        <a href="tel:+917032219565">
            <span class="glyphicon glyphicon-earphone"></span><br class="hidden-xs">Contact-us</br>
        </a>
    </li> -->
                    </ul>
                </div> <!--collapsable-nav-->
            </div> <!--container-->
        </nav>
    </header>
    <div id="maincontent" class="container">
        <div id="mainprofile" class="col-lg-3 col-md-3">
            <div id="mainnumber">
                Phone.no:<br>
                {{user.profile.phno}}
            </div>
            <hr>
            <div id="mainstate">
                State:<br>
                {{user.profile.state}}
            </div>
            <hr>
            <div id="mainmail">
                mail:<br>
                {{user.email}}
            </div>
            <hr>
            <div id="mainuniversity">
                University:<br>
                {{user.profile.university}}
            </div>
            <hr>
            <div id="mainsem">
                Current sem:{{user.profile.sem}}
            </div>
            <hr>
        </div>
        <div id="posts" class="col-lg-6 col-md-6">
            <a href="addPost">
            <div id="postadd">
                Add Post
            </div>
            </a>
            <!--<input type="text" placeholder="Enter the Username" /> -->
            <div id="posttile" class="text-center" >
                {% for post in posts reversed %}
                <a href="displaypost/{{post.id}}">
                    <img src="{{post.image.url}}" class="img-responsive " style="min-width:100%; height:auto;">
                    <div>Uploaded by {{post.creator}}</div>
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            {% for us in u %}
            <a href="display/{{us.id}}" class="ustile">
                    <div>{{us.username}}</div>
                    <div>
                        <img src="{{us.profile.image.url}}" class="img-responsive">
                    </div>
            {% endfor %}
            </a>
        </div>
    </div>

    <script src={% static 'js/jquery.js' %}></script>
    <script src={% static 'js/bootstrap.min.js' %}></script>
</body>
</html>
