{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Display</title>
	<link rel="stylesheet" href={% static 'css/bootstrap.css' %}>
	<style>
		
	</style>
</head>
<body>
	<div class="container">
		<div class="col-lg-3 visible-lg">
			
		</div>
		<div id="main" class="col-lg-6" style="display:flex;align-items: center;align-content: center;">
			<img src="{{u.profile.image.url}}" class="img-responsive" style="max-height:150px;">
			<table>
				<tr>
					<td>Username:</td>
					<td>{{u.username}}</td>
				</tr>
				<tr>
					<td>Firstname:</td>
					<td>{{u.first_name}}</td>
				</tr>
			</table>
		</div>

	</div>
</body>
</html>