{% load static %}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href={% static 'css/bootstrap.css' %}>
<head>
    <meta charset="utf-8" />
    <title>login</title>
    <style>
        body{
            display:flex;
        }
        .container{
            text-align: center;
            margin-top: 100px;
        }
        form{
            margin:auto;
        }
        input {
            height:50px;
            border-radius:25px;
        }
        input:focus{
            border:none;
        }
    </style>
</head>
<body>


    
    <div class="container">
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
        <form action={% url 'login' %} method="POST">
            {% csrf_token %}
            <input type="text" placeholder="username" name="username" /><br /><br>
            <input type="password" placeholder="Password" name="password" /><br /><br>
            <input type="submit" placeholder="login" /><br /><br>
        </form>
        <div>
            <small class="text-muted">
                Dont have an acc? <a href="register/">Register now</a>
            </small>
        </div>
    </div>
</body>
</html>