body {
	background-color:#ddd;
	box-sizing: border-box;
}

/**Header**/
#header-nav {
	background-color: orangered;
}

#logo-img {
	width:150px;
	height:150px;
	margin:10px 15px 10px 0;
	border:none;
	float:left;
}

.navbar-brand {
	float:left;
	padding-top: 25px;
}

.navbar-brand h1 {
	color:#557c3e;
	font-size: 2em;
	font-weight:bold;
	text-transform:uppercase;
	text-shadow:1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height:  .75;
}

.navbar-brand a:hover,.navbar-brand a:active {
	text-decoration: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid maroon;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: maroon;
  text-align: center;
}
#nav-list a:hover,#nav-list a:active {
  color:#fff;
  background:maroon;
}

#nav-list a span {
  font-size: 1.8em;
}

a button{
	background-color: inherit;
	color:inherit;
	border:none;
	text-decoration: none;
}
/******header end************/
/*********home page**********/
#mainprofile{
  color: #111;
}
#posts{
  background-color: grey;
}
#postadd {
	color:white;
	padding: 0;
	height: 75px;
	text-align: center;
	line-height: 75px;
	border:1px solid green;
}
#posttile{
	max-width:100%;
	min-width:100%;
	height:auto;
}
#posts > div {
	padding: 10px;
	color:white;
}

.ustile{
  padding:10px;
  background-color: green;
  height:50px;
}

/*********home end***********/
/*********About**************/
